body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.paperTitleDiv {
  display: flex;
  color: #ffffff;
  height: 55px;
  width: 550px;
  border-radius: 10px;
  background: linear-gradient(to left, #243949 0%, #517fa4 100%);
  position: absolute;
  margin: -30px 0 0 20px;
  box-shadow:
        0 12px 20px -10px rgba(156, 39, 176, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(156, 39, 176, 0.2);
}

.headerIcon {
  transform: scale(1.2);
  margin: 15px 0 0 20px;
}

.headerTitle {
  margin: 12px 0 0 30px;
  color: white;
}

.paperForm {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin: 50px 0 0 50px;
  
}

.fieldIcon {
  transform: scale(1.2);
 
}

.formColumn {
  display: flex;
  flex-direction: column;
}

.Input {
  margin: 10px 0 20px 0;
}

.textField {
  margin: 10px 0 20px 100px;
}

.formButton {
  margin: 120px 120px 120px 120px;
}
